*{
    font-family: 'raleway',arial,sans-serif;
}
body{  
    margin-top:1em;
    
}
ul {
    list-style-type: none;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    }
.econo{
    border: solid;
    border-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 10em;
    height: 2em;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.fasmoney{
    border:solid;
    border-color: tomato;
    border-radius: 1em 1em 1em 1em;
    width: 0,5em;
    height:0,5em;
    color:teal;
    display: flex;
   
    align-items: flex-start;
}

.head1{
    display: flex;
}
.logo{
    
    
}
#navig {
    margin:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
      
}
#hebergement {
    width: 100%;
    height: 50%;
background-color: #F2F2F2;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.canne{
    width:20%;
    height:10%;
    border-radius: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.canebiereimg{
border-radius: 1em 1em 0em 0em;
}

.porthot{
    width:20%;
    height:10%;
    border-radius: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.hotelduportimg{
border-radius: 1em 1em 0em 0em;
}



/* couleur picto star grise*/
.grisstar{
    color:grey;
  


}
figure {
    border:none;
    display: flex;
    flex-flow: column;
    /* combinaison de flex-direction et flex-wrap */
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}
.bluestar{
    color: blue;
}

figcaption {
    
    background-color: ;
    color:;
    padding: 3px;
    text-align: ;
    display: none;
}
/*test pour alignement du texte dans footer */
.propos{
    margin: auto;
    
    display: flex;
    

}
footer {
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: stretch;
}

