*{
    font-family: 'raleway',arial,sans-serif;
   text-decoration: none;
    
}

body{  
   
}
main{
    
   margin-left:  30px;
   margin-right: 30px;

}

.head1{

    margin-top: 0,5%;
    display: flex;
}
.logo{
    
    display:flex;
    justify-content: flex-start;
}

#navig {
    
    width:60% ;
    margin: auto;
    margin-right: -1px;
    margin-left: 50%;
    padding: auto;
    display:flex;
    align-items: center;
   justify-content: space-between;
/* tentative pour placer la nav */

}
.blulien a {
  
    border-top: 5px solid #0065FC;
    padding-top: 20px;
    color: #0065FC;
}
.bluliena a {
    color:black; 
}
.blulienb{

}
/* nav placé --- trop content */

.colleheb{
margin-top: 20px;
line-height: 0px;
}

/* place à la recherche */
.search{


}

form{
border:solid;
border-radius: 10px; 
border-color:#F2F2F2;
border-left: 0px;
border-right: 0em;
width: 22%;
height: 2em;
display:flex;
flex-direction: row;
align-items: stretch;
justify-content: center;

}
.iconrech{

border-radius: 10px 0em 0em 10px;
border-color:#F2F2F2;
background-color: #f2f2f2;
width: 16%;
margin-left: 0em;

display:flex;
justify-content: center;
align-items: center;
}
::placeholder{
   
color: black;
font-weight: bold;
}

#recherche {
border:none;
display:flex;
align-items: center;
justify-content: center;
  }

.barrech{
border-color: #F2F2F2;
display:flex;
justify-content: center;
align-items: stretch;

}
.textrech{
    color: white;
    font-weight: bold;
    width: 110px;
    height: 35px;
    padding-bottom: 10px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #0065FC;
}

.bouton{
border-radius: 0px 10px 10px 0Px;
width:50%;
display: flex;
justify-content: center;
align-items: center;
}
  

/* fini le bloc recherche */




/* debut filtres */
.filtext {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.fil {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   justify-content: space-between;
    align-items: flex-start;
}

 /* rond pour les icones */
 .rondon{
    border-radius: 50%;
    background-color: #deebff;
    width:2em;
    height: 2em;
   display:flex;
   justify-content: center;
   align-items: stretch;
    }
 /* rond pour les icones */


/* premier bloc economique */
.conta{
    
    width: 12em;
    margin-top: 3px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 15%;
    margin-right: -7em;
    padding-left:-10px;
    padding-right:-10px ;
    

}
.fasmoney{
  
    width: 0,3em;
    height:0,3em;
    color:#0065FC;
    margin-right: 11%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    } 

.econo{
   
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: solid;
    border-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 10em;
    height: 2,5em;
    margin:1em;
    margin-top: 0,8em;
    margin-bottom:0,8em ;
   padding: -10%;
    padding-left:-10% ;
    padding-right:-10% ;
}

.texteco{
color:black;
width: auto;
display: flex;
justify-content: space-around;
align-items: stretch;

}

/* bloc famille*/

.famille{
    border: solid;
    border-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 8em;
    height: 2em;
    margin:1em;
    margin-top: 0,8em;
    margin-bottom:0,8em ;
    padding-left:-10% ;
    padding-right:-10% ;
    }
    .rondona{

    border-radius: 50%;
    border-color: #deebff;
    background-color: #deebff;
    width:2em;
    height: 2em;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-left:4%;
    padding: auto;
    
    }

.fam{
    color:black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:20px;
    margin-left: 3px;
    }
/* composant romantique*/
.romantique{
    border: solid;
    border-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; 
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 10em;
    height: 2em;
    margin:1em;
    margin-top: 0,8em;
    margin-bottom:0,8em ;
    padding-left:-10% ;
    padding-right:-10% ;
}
.rondonb{
    border-radius: 50%;
    border-color: #deebff;
    background-color: #deebff;
    width:2em;
    height: 2em;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-left: -3px;
    padding: auto;

}
.roma{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2px ;
    
}
/*composant animaux*/
.animaux{
    border: solid;
    border-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
   
    width: 13em;
    height: 2em;
    margin:1em;
    margin-top: 0,8em;
    margin-bottom:0,8em ;
    padding-left:-10% ;
    padding-right:-10% ;
    
}
.rondonc{
    border-radius: 50%;
    border-color: #deebff;
    background-color: #deebff;
    width:2em;
    height: 2em;
    display:flex;
    display: inline;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-left: -3px;
    padding: auto;

}

.anim{
    color:black;
    display: flex;
    flex-wrap: nowrap;

    
}

/* fin de filtres */


/* début bloc icone 500 logements */
    .cinqlog{
    
    display: flex;
    flex-direction: row;
    }
    .rondi{
        background-color:white;
        border-radius:50%;
        width: 22px;
        height:22px;
        border:2px solid #f2f2f2; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .iconcinq{ 
       color:#0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .logcinq{
   display: flex;
   justify-content:center;
   align-items: center;
   padding-left: 1%;
    }
/* fin icone 500 log*/
    
/* premiere partie haute pour allignements des conteneurs */

.prempart{

    display: flex;
   margin: auto;
   padding: auto;
}


/* lancement du conteneur hebergements */
.heb{
    margin: 1%;

    padding: 1%;
    
}

#hebergement {
background-color:#F2F2F2;
width: 60%;
height: 610px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

border-radius: 1em 1em 1em 1em;
margin-right: 1%;

}

figcaption{
    font-size: 8px;
    line-height: 0px;
    
}

/*hotel de la cannebiere */
.context1{
    background-color: white;
    border:solid;
    border-color:white;
    border-radius: 1em 1em 1em 1em;
    width: 15em;
    height: 12em;
    margin: 1%;
    display:flex;  
    align-items: stretch;
    
}
.contimg1{
    border-radius: 1em 1em 0em 0em;
    width: 145%;
    height: 8em;
    margin-top:-12px;
   margin-left: -23%;
    display:flex;
    justify-content: center;
    align-items: center;
    } 

.conttexte1{
    border:solid;
    font-size: 80%;
    line-height: 0px;
    text-align: left;
    margin-top: -10%;
    margin-left:-10%;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contstar1{
    width: 10em;
    height: 10em;
    margin-top:-20px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;  
}

/*hotel du port*/


/* hotel les mouettes */


/* hotel de la mer */


/* auber le panier*/


/* chez amina*/


/* couleur picto star */
.grisstar{
color:grey; 

}

.bluestar{
color: blue;
}

/* finalisation hebergement */

/* ouverture les plus populaires */

aside{
    margin-left: 1%;

}
 
    


#pluspop{
    background-color: #F2F2F2;
    width: 40%;
    height: 610px;
    border-radius: 1em 1em 1em 1em;
    display: flex;
    
   
   
}
.context2{
   
    border-color: white;
    background-color: white;
    border-radius: 1em 1em 1em 1em;
    width: 330px;
    height: 140px;
    margin: 5%;
    padding: 5%;

}
.contimg2{
    width: 15%;
    height: 6%;

}
.conttexte2{

}
.contstar2{


}

/*finalisation aside*/


/* ouverture activité*/

#activite{
    border:solid;
    border-color:red;
}

/*test pour alignement du texte dans footer */
footer {
    background-color:#F2F2F2;
    
    }
#foot{
display: flex;
flex-direction: row;
    }

.propos{
   

}
.hebnavfoot{

}
.assit{

}
